<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="sky blue note">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <!-- Top Nav -->
    <div class="nav-top">
        <div class="nav-row nav-padding nav-blue">
            <div class="column column-3">
                <a href="/" class="nav-button nav-block nav-blue">Home</a><!--&#127968;-->
            </div>
            <div class="column column-3">
                <a href="/view" class="nav-button nav-block nav-blue">View</a><!--&#128221;-->
            </div>
            <div class="column column-3">
                <a href="/select" class="nav-button nav-block nav-blue">Select</a><!--&#128269;-->
            </div>
            <div class="column column-3">
                <a href="/reset" class="nav-button nav-block nav-blue">Reset</a><!--&#10226;-->
            </div>
        </div>
    </div>
    {{{body}}}
    <!-- Bottom Nav -->
    {{#if showBottomNav}}
    <div class="nav-bottom">
        <div class="nav-row nav-padding nav-blue" id="bottomFill">
            <!--<div class="column column-3">-->
            <!--    <a href="/" class="nav-button nav-block nav-blue"></a>-->
            <!--</div>-->
            <!--<div class="column column-3">-->
            <!--    <a href="#" class="nav-button nav-block nav-blue"></a>-->
            <!--</div>-->
            <!--<div class="column column-3">-->
            <!--    <a href="#" class="nav-button nav-block nav-blue"></a>-->
            <!--</div>-->
            <!--<div class="column column-3">-->
            <!--    <a href="#" class="nav-button nav-block nav-blue"></a>-->
            <!--</div>-->
        </div>
    </div>
    {{/if}}
</body>
</html>